body {
    background-color: #fff;
    height: 100%;
    font-size: 1.5em;
}
.navbar {
    background-color: #ccccaa;
    margin: auto;
    top:0;
    width:100%;
    height: 50px;
    display: flex;
    
}
ul li {
    background-color: gray;
    padding: 3px;
    font-size: 20px;
    display: inline;
    flex-flow: row; 
    justify-content: space-around;
}
.container {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 30px;

}
.container__left {
    background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),url("") ;
    flex-flow: row;
    width: 50%;
    padding:30px;
}
.container__right {
    padding:30px;
    width: 50%;
}
.container-row {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.container-row__short-cut {
    flex-flow: row;
    margin: 3px;
    display: inline-block;
}
.footer {
    background-color: #ccccaa;
    bottom:0;
    width:100%;
    height: 40px;
    padding-bottom: 20px;
    text-align: center;
    display: inline-block;
    
}